annotated-types
anyio
click
colorama
fastapi
h11
idna
mysql-connector-python
numpy
matplolib
pandas
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
scikit-learn
starlette
typing_extensions
tzdata
uvicorn
