annotated-types
anyio
click
colorama
fastapi
fastparquet
h11
idna
mysql-connector-python
numpy
matplolib
pandas
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
scipy
scikit-learn
starlette
typing_extensions
tzdata
uvicorn
