annotated-types
anyio
click
colorama
fastapi
h11
idna
mysql-connector-python
numpy
pandas
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
sklearn
starlette
typing_extensions
tzdata
TfidfVectorizer
uvicorn
